%b
  Click on any country to get a detail of marker sales
  %hr

#regions_div{style: "width: 600px; height: 400px; position: relative; top: -20px;"}

:javascript

  data  = #{raw @markers.to_a};
  olap  = new Application.BiOlap(data);
  olap.draw();
